{{#each listFriends}}
<a href="#" class="list-group-item" style="margin-bottom: 10px; height: 60px; padding: 10px;" id="{{name_friend}}">
    <img src="{{ava_friend}}" width="30" height="30">
   {{name_friend}}
</a>
{{/each}}
<div id="refreshFriend">
</div>
