
  <div class="panel panel-info" style="height: 500px;">
    <div class="panel-heading">
      <span class="panel-title" style="margin-left: 40%;">About Us</span>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="panel panel-success" style="height: 400px;">
          <div class="panel-heading">
            <span class="panel-title" style="margin-left: 40%;">Member</span>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <img src="/images/tranhiep.jpg" class="img-rounded" alt="Cinque Terre" width="100%" height="150">
            </div>
            <div class="col-md-8">
                <ul	style=" list-style-type: none;" >
                  <li><span class="glyphicon glyphicon-user icon-user"></span>Trần Hiệp</li>
                  <li><span class="glyphicon glyphicon-send icon-user"></span>1412175</li>
                  <li><span class="glyphicon glyphicon-earphone icon-user"></span>01223172857</li>
                  <li><span class="glyphicon glyphicon-envelope icon-user"></span>tranhiepqna@gmail.com</li>
                  <li><span class="fa fa-facebook-square icon-user"></span><a href="https://www.facebook.com/tranhiepqna">Trần Hiệp</a> </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-success" style="height: 400px;">
          <div class="panel-heading">
            <span class="panel-title" style="margin-left: 40%;">Member</span>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <img src="/images/bdkhanh.jpg" class="img-rounded" alt="Cinque Terre" width="100%"  height="150">
            </div>
            <div class="col-md-8">
              <ul	style=" list-style-type: none;" >
                <li><span class="glyphicon glyphicon-user icon-user"></span>Bùi Đình Khánh</li>
                <li><span class="glyphicon glyphicon-send icon-user"></span>1412240</li>
                <li><span class="glyphicon glyphicon-earphone icon-user"></span>01689537255</li>
                <li><span class="glyphicon glyphicon-envelope icon-user"></span>idol.brucelee1996@gmail.com</li>
                <li><span class="fa fa-facebook-square icon-user"></span><a href="https://www.facebook.com/khanh.dra">Khánh Bùi</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
