<div class="content-login">
  <h1>Sign up Chat Hihi</h1>
  <form method="post" action="/local-reg">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="Phone Number">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="login" class="btn btn-primary" value="Sign Up">
  </form>
</div>
